.admin-input {
  padding: 13px !important;
}
html {
  overflow-y: scroll !important; /* Always reserve vertical scrollbar space */
}

body{
 /* background: linear-gradient(to right, #eef2f3, #8e9eab); */
 /* background: linear-gradient(to right, #fdfcfb, #e2d1c3); */
 /* background: linear-gradient(to right, #a1c4fd, #c2e9fb); */
 /* background: linear-gradient(135deg, #f8f9fa, #e9ecef); */
 /* background: linear-gradient(to right, #dfe9f3, #ffffff); */
 background-color: #ebf1f8    !important;
  font-family: 'Inter', 'Segoe UI', sans-serif !important;
}
.login-btn{
  background: linear-gradient(90deg, #ff6cac, #7366ff) !important;
}

#nprogress .bar {
  background: linear-gradient(90deg, #ff6cac, #7366ff) !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 3px !important;
  z-index: 9999 !important;
}

.navbar-brand svg {
  color: #ff7844; /* Or any accent brand color */
  transition: transform 0.2s ease-in-out;
}

input,
select,
textarea {
  box-shadow: none !important;
  background-color: #f5f7fd !important;
}

.brands-table {
  min-width: 800px !important;
}
.attributes-table {
  min-width: 1000px !important;
}

.nav-menu {
  transition: all 0.4s ease-in-out !important;
}
@media (max-width: 992px) {
  .nav-menu {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

.nav-list .nav-item {
  transition: all 0.4s ease-in-out !important;
  border-radius: 8px !important;
}
.nav-list .nav-item .nav-content {
  /* background-color: #F5F7FD !important; */
  text-decoration: none !important;
  color: #262627 !important;
}
.nav-list .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
}
.offcanvas {
  transition: all 0.4s ease-in-out !important;
  background-color: white !important;
  /* color: white !important; */
}

.offcanvas-header {
  height: 13vh !important;
  /* background-color: white !important; */
}
.collapse-list {
  /* background: linear-gradient(90deg, #ff6cac44, #7366ff33) !important; */

  transition: all 0.4s ease-in-out !important;
}
.active {
  /* background-color: hsla(225, 20%, 96%, 0.63) !important; */
  /* background: linear-gradient(90deg, #ff6cac13, #7366ff15) !important; */
  border-radius: 0px !important;
  /* color: aqua !important; */
  color: rgb(121, 113, 238) !important;
  /* background-color: rgba(121, 113, 238, 0.103); */
  /* font-weight: 900 !important; */

  /* transform: scale(1.2); */
  /* color: linear-gradient(90deg, #ff6cac, #7366ff) !important; */
  position: relative;
}
/* .active::before {
  content: "";
  position: absolute;
  border-radius: 10px !important;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(104, 97, 206) !important;
} */
.box-hover {
  transition: all 0.3s ease-in-out !important;
  position: relative;
}
.dropdown-toggle::after {
  color: red; /* Change arrow color */
  font-size: 1.2rem; /* Make it bigger */
}

/* .box-hover:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(104, 97, 206) !important;
  transition: all 0.4s ease-in-out !important;
}
.box-hover:focus::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(104, 97, 206) !important;
} */

.box-hover:hover {
  /* background-color: #d4d6dd9c !important; */
  /* background: linear-gradient(90deg, #ff6cac44, #7366ff33) !important; */
}
.non-active {
  color: black !important;
}
.child-active {
  color: rgb(104, 97, 206) !important;
  /* color: purple; */
}
.offcanvas .show {
  /* background: linear-gradient(90deg, #ff6cac44, #7366ff33) !important; */
}
.accordion-collapse,
.accordion-button {
  transition: all 0.5s ease-in-out !important;
}

@media (min-width: 992px) {
  .offcanvas {
    width: 280px !important;
    transform: none !important;
    visibility: visible !important;
  }
  .navbar,
  main {
    margin-left: 280px !important;
  }
  
  .navbar,
  .offcanvas-header {
    height: 10vh !important;
  }
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 5px !important;
  background-color: rgb(104, 97, 206) !important;
  border-radius: 50px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #b9babf !important;
  border-radius: 50px !important;
}

.card-icon {
  padding: 20px 30px !important;
}
.hover-shadow {
  transition: all 0.3s ease-in-out;
}
table th,
table td {
  padding: 0.75rem 1.25rem !important; /* Top/Bottom: 12px, Left/Right: 20px */
  vertical-align: middle;
}
.modal-dialog {
  transition: all 0.5s ease-in-out !important;
}
.subcategory {
  width: fit-content !important;
  /* padding: 0 !important; */
}

.login {
  /* background: linear-gradient(to right, #fdfcfb, #e2d1c3) !important; */
  min-height: 100vh !important;
}

@media screen and (max-width: 768px) {
  .login {
    /* background: linear-gradient(to right, #fdfcfb, #e2d1c3) !important; */
    min-height: auto !important;
    padding-top: 40px !important;
  }
}
.tbody-attribute td {
  width: 20px !important;
}
